RewriteEngine On
RewriteBase /Alex
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#both (bad seo)
#RewriteRule ^((en|nl|fr)(/|$))?(.*)$ index.php?cmx-lang=$2&page=$4 [L,QSA,NC]

#singlelang
#RewriteRule ^(.*)$ index.php?page=$1 [L,QSA,NC]

#multilang
    #any 2 lettercode (bad seo)
    #RewriteRule ^([a-z]{2})/?(.*)$ index.php?cmx-lang=$1&page=$2 [L,QSA,NC]
    #fixed lettercodes (good seo)
    RewriteRule ^(en|nl|fr)(/(.*)|)$ index.php?cmx-lang=$1&page=$3 [L,QSA,NC]








#No directory browsing
IndexIgnore *

# deny all
<FilesMatch "\.(htaccess|htpasswd|json|html?|php)$">
 Order Allow,Deny
</FilesMatch>


#allow all
<FilesMatch "(index|ajax)\.php$">
 Order Deny,Allow
</FilesMatch>


